
.black-text {
  color: black !important; /* Ensures it overrides other styles */
}

.full-width-nav {
  display: flex;
  justify-content: space-around; /* Distributes space evenly around items */
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888
}

input[type=radio]{
  display: none;
}

.star{
  cursor: pointer
}

/* Styling for Configure Page */

.ConfContainer {
  display: flex;
  justify-content: center;
}

.ConfLeft-column,
.ConfMiddle-column,
.ConfRight-column {
  padding: 20px;
}

.ConfLeft-column {
  flex: 0 0 30%; /* This ensures the left column takes up 30% of the container */
  background-color: #d2d2d2;
}

.ConfMiddle-column {
  width: 40%; /* This ensures the middle column takes up 40% of the container */
  background-color: #333333;
}

.ConfContainer img {
  max-width: 100%;
  height: auto;
  display: block;
}

.addButton{
  padding-top: 10px;
  max-width: 17%;
}
.priceCalc{
  max-width: 53%;
}

.saveButton{
  padding-top:10px;
  max-width: 30%;
}

.ConfRight-column {
  flex: 0 0 30%; /* This ensures the right column takes up 30% of the container */
  background-color: #d2d2d2;
}

.PSUArea, .GPUArea, .RAMArea, .MemArea, .CPUArea, .MOBOArea, .CaseArea, .CoolArea{
  padding: 10px;
  min-height: 75px;
  border-bottom: 1px solid #000;
}

.partDiv{
  padding-bottom: 10px;
}

.addForumsArea{
  flex: 0 0 25%;
}

.forumsArea{
  flex: 0 0 75%;
}
